<include file="Public/header"/>
<section class="banner"></section>
<section class="box">
	<div class="container clearfix">
		<div class="left">
			<h3>会员信息</h3>
			<ul>
				<li><a href="{:U('User/index')}" class="active">会员基本信息</a></li>
				<li><a href="{:U('User/dog_list')}">我的犬只</a></li>
				<li><a href="{:U('User/profile')}">修改密码</a></li>
			</ul>
		</div>
		<div class="right">
			<div class="sear">
				<div class="title">
					<h3>会员基本信息</h3>
				</div>
				<div class="form">
					<form action="{:U('User/update_do')}" method="post" enctype="multipart/form-data">
						<div class="line_double">
							<div class="left"><span>头像</span></div>
							<div class="rights files">
								 <a href="javascript:;">上传</a>
								 <if condition="$userinfo.headurl">
								 <img src="{$userinfo.headurl}" id="xmTanImg">
								 <else />
								<img src="Public/Home/images/100.jpg" id="xmTanImg">
								</if>
								<input type="file" onchange="xmTanUploadImg(this,'xmTanImg')" id="upload_picture_cover_id" name="headurl">
								<!-- <input type="hidden" name="cover_id" id="cover_id_cover_id"/>
								<div class="upload-img-box"></div> -->
							</div>
						</div>
                    
						<div class="line_double">
							<div class="left"><span>姓名</span></div>
							<div class="rights clearfix">
								<input type="text" name="real_name" value="{$userinfo.real_name}" class="error_message">
								<span class="error_message"></span>
							</div>
						</div>
						<div class="line_double clearfix">
							<div class="left"><span>性别</span></div>
							<div class="rights clearfix">
							<if condition='$userinfo.sex eq 0'>
								<input type="radio" name="sex" checked="checked" value="0"/><span>男</span>
								<input type="radio" name="sex" value="1"/><span>女</span>
							<else />
								<input type="radio" name="sex" value="0"/><span>男</span>
								<input type="radio" name="sex" checked="checked" value="1"/><span>女</span>
							</if>
							</div>
						</div>
						<div class="line_double">
							<div class="left"><span>身份证号</span></div>
							<div class="rights clearfix">
								<input type="text" name="idcard" value="{$userinfo.idcard}" class="error_message">
								<span class="error_message"></span>
							</div>
						</div>
						<div class="line_double">
							<div class="left"><span>联系电话</span></div>
							<div class="rights clearfix">
								<input type="text" name="mobile" value="{$userinfo.mobile}" class="error_message">
								<span class="error_message"></span>
							</div>
						</div>
						<div class="line_double">
							<div class="left"><span>邮寄方式</span></div>
							<div class="rights">
								<select name="shipping">
								<if condition="$userinfo.shipping eq 0">
								  <option value ="0" selected=true>到付</option>
								  <option value ="1">先付</option>
						  		<else />
								  <option value ="0" >到付</option>
								  <option value ="1" selected=true>先付</option>
							  	</if>
								</select>
							</div>
						</div>
						<div class="line_double">
							<div class="left"><span>邮寄地址</span></div>
							<div class="rights">
							<input type="hidden" id="pc" name="pc">
								<select id="province" name="province" onchange="get_province()">
								  	<option value="0">请选择省份</option>
							        <option value="1">北京</option>
									<option value="2">澳门</option>
									<option value="3">天津</option>
									<option value="4">西藏</option>
									<option value="5">河北</option>
									<option value="6">海南</option>
									<option value="7">陕西</option>
									<option value="8">台湾</option>
									<option value="9">安徽</option>
									<option value="10">重庆</option>
									<option value="11">香港</option>
									<option value="12">吉林</option>
									<option value="13">四川</option>
									<option value="14">江西</option>
									<option value="15">黑龙江</option>
									<option value="16">云南</option>
									<option value="17">广西</option>
									<option value="18">福建</option>
									<option value="19">山西</option>
									<option value="20">宁夏</option>
									<option value="21">湖北</option>
									<option value="22">新疆</option>
									<option value="23">山东</option>
									<option value="24">江苏</option>
									<option value="25">上海</option>
									<option value="26">贵州</option>
									<option value="27">内蒙古</option>
									<option value="28">湖南</option>
									<option value="29">青海</option>
									<option value="30">浙江</option>
									<option value="31">河南</option>
									<option value="32">辽宁</option>
									<option value="33">甘肃</option>
									<option value="34">广东</option>
								</select>
								</select>
								<select id="city" name="city" onchange="get_city()">
									<option value="0">请选择城市</option>
								</select>
							</div>
						</div>
						<div class="line_double">
							<div class="left"><span></span></div>
							<div class="rights"><input type="text" name="address" style="width:730px" value="{$userinfo.address}"></div>
						</div>
						<div class="line_button">
							<input type="submit" id="subten" value="提交">
						</div>
					</form>
				</div>
				<style>
					span.error_message{color:red;}
					.rights input.error_message{float:left;}
				</style>
				<script type="text/javascript">
					
					$(document).ready(function() {
						jQuery.validator.setDefaults({
							errorPlacement: function(error, element) {
								error.appendTo(element.next());
							}
						  });
						  
						$("#subten").click(function(){
						  var flag = $("form").validate().form();//表单校验
						  if(!flag) {
							return false;
						  }
						});
						
					  $("form").validate({
						  onkeyup:false,
							  onfocusout: function() { $("form").valid(); },
						  rules: {
							real_name:{
							  required: true,
							},
							idcard:{
							  required: true,
							  minlength:18,
							  maxlength:18,
							},
							mobile:{
							  required: true,
							  minlength:11,
							  maxlength:11,
							  digits:true,
							}
						  },
						  messages: {
							real_name:{
							  required: '必填',
							},
							idcard:{
							  required: '必填',
							  minlength:'身份证号码位数不对',
							  maxlength:'身份证号码位数不对',
							},
							mobile:{
							  required: '必填',
							  minlength:'手机号码位数不对',
							  maxlength:'手机号码位数不对',
							  digits:'手机号码格式不对',
							}
						  }
						});
					});
					
			</script>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
//将省市连接传入后台录入
$("#subten").on('click',function(){
	var s_province_v = $('#province>option:selected').text();
	var s_city_v = $('#city>option:selected').text();
	$('#pc').val(s_province_v + ' ' +s_city_v);
});
</script>
<include file="Public/footer"/>