<include file="Public/header"/>
<section class="banner"></section>
<section class="box">
	<div class="container clearfix">
		<div class="left">
			<h3>会员信息</h3>
			<ul>
				<li><a href="{:U('Dog/index')}">会员基本信息</a></li>
				<li><a href="{:U('Dog/dog_list')}" class="active">我的犬只</a></li>
				<li><a href="{:U('Dog/profile')}">修改密码</a></li>
			</ul>
		</div>
		<div class="right">
			<div class="sear">
				<div class="title">
					<h3>我的犬只</h3>
				</div>
				<div class="table vip_table">
					<ul>
						<li class="fa">
							<ul class="clearfix">
								<li>犬名</li>
								<li>性别</li>
								<li>芯片号</li>
								<li>尔号</li>
								<li>出生日期</li>
								<li>血统证书号</li>
								<li>繁殖人</li>
								<li>修改</li>
							</ul>
						</li>
						<li class="fa">
							<ul class="clearfix">
								<li><a href="" style="color:#fec601">Aurelius 爱丽丝</a></li>
								<li>公</li>
								<li>981189900006086</li>
								<li>981189900006086</li>
								<li>1998-4-2</li>
								<li>CSZ8003150</li>
								<li>冠军犬</li>
								<li><a href="" style="color:#fec601">修改</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<include file="Public/footer"/>
</body>
</html>