<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{:C('WEB_SITE_TITLE')}</title>
	<link href="Public/Home/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="Public/Home/css/public.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="Public/Home/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="Public/Home/layer/layer.js"></script>
	<script type="text/javascript" src="Public/Home/js/public.js"></script>
	
	
</head>
<body>


<div class="sear">
				<div class="title">
					<h3>会员查询</h3>
				</div>
				<div class="form">
					<form action="__SELF__" method="post" id="USER_search">
						<div class="line_double">
							<div class="left"><span>会员名称</span></div>
							<div class="rigth"><input type="text" name="username" class="USER_search"></div>
						</div>
						<div class="line_button">
							<input type="button" value="查询" id="submits">
						</div>
					</form>
				</div>
				<script type="text/javascript">
					$('#submits').on('click',function(){
						validate('.USER_search','#USER_search','会员名称');
					})
				</script>
			</div>
			<if condition="$res eq 1">
			<notempty name="dogArr">
			<!--查询到结果输出 in-->
			<div class="Result">
				<div class="title">
					<h3>查询结果</h3>
				</div>
				<div class="table">
					<ul>
						<li class="fa">
							<ul class="clearfix">
								<li>犬名</li>
								<li>性别</li>
								<li>芯片号</li>
								<li>尔号</li>
								<li>出生日期</li>
								<li>血统证书号</li>
								<li>犬主</li>
								<li>繁殖人</li>
							</ul>
						</li>
						<li class="fa">
						<volist name="dogArr" id="list">
							<ul class="clearfix">
								<li><a href="" style="color:#fec601">{$list.dog_name}</a></li>
								<li>
								<if condition="$list.dog_sex eq 0">公
								<else />母
								</if>
								</li>
								<li>{$list.mic_num}</li>
								<li>{$list.ear_num}</li>
								<li>{$list.birthday|date='Y-m-d',###}</li>
								<li>{$list.studbook}</li>
								<li>{$list.dog_owner}</li>
								<li>{$list.reproduce}</li>
							</ul>
							</volist>
						</li>
					</ul>
				</div>
			</div>
			<!--查询到结果输出 ent-->
			<else />
			<!--无结果输出 in-->
			<script type="text/javascript">
				layer.msg('没有该会员信息',{ icon: 5,skin: 'layer-ext-moon'})
			</script>
			<!--无结果输出 ent-->
			</notempty>
			</if>
</body>
</html>