<include file="Public/header"/>
<section class="us_banner"></section>
<section class="us">
	<div class="container">
		<div class="map clearfix">
			<div class="left pull_left">
				<iframe width="604" height="358" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/c2oTO"></iframe>
			</div>
			<div class="right pull_left">
				<div class="title">
					<h4>俱乐部介绍</h4>
				</div>
				<div class="text">
					楷玖犬业俱乐部有限公司坐落于美丽的西施故里—诸暨，是一家别有前景的互联网—新型企业。该公司紧跟现在电商时代的步伐，展现属于自己独特的魅力。公司本着求贤若渴，重视人才的用人理念，以诚信经营为宗旨，不断壮大。楷玖犬业俱乐部有限公司主要包含犬只赛事、芯片植入、销售犬只相关产品、互联网商城、杂志，这五方面。
				</div>
			</div>
		</div>
	</div>
	<div class="l_h_100"></div>
	<div class="box">
		<div class="js">
			<div class="container">
			楷玖犬业俱乐部简称(CKN),经中国工商总局批准,<br>从事犬类的展览展示及交流活动,繁育,训练,医疗为一体的单位;<br>由爱犬从业人员组成的全国性民间联合组织,<br>是民间完全自律的,为提高中国民间养犬训犬文化,为犬行业健康科学发展而创立的。
			</div>
		</div>
		<div class="bg"></div>
	</div>
	<div class="container">
		<div class="zz clearfix">
			<div class="left pull_left">
				<img src="Public/Home/images/img_zongzhi.jpg" alt="">
			</div>
			<div class="right pull_left">
				<div class="text">
					 努力规范犬只行业,提高行业的素养,<br>使犬行业能够良性健康的发展.完善中国自己的赛事制度,<br>提高赛事正规性,可玩性,可加入性和生活实用性,<br>使犬行业的繁育,培育,销售和周边业务的连接和保障更加的完善。<br>br为俱乐部的成员和俱乐部的会员的利益提供保障,同时争取最大的利益和优惠,<br>提高相关业务的专业服务水平,使中国犬业能够真正进入到良性发展当中。
				</div>
				<div class="title">
					<h4>我们的宗旨</h4>
				</div>
			</div>
		</div>
	</div>
</section>
<include file="Public/footer"/>
